:root {
  /* Colours */
  --color-bg: #fbeaea; /* page background /*

  /* Header */
  /* Logotype */
  --color-logotype-bg: #9e0303;
  --font-logotype-size: 1rem;

  /* Global menu */
  --color-menu-bg: #9d0000;
  /* Links */
  --color-link-bg: #f5b0b0;
  --color-link-hover: #000000; /* used */
  --color-link-active: #000000; /* used */
  /* Headlines og rubrik */
  --font-h1-size: 3rem;
  --font-sub1-size: 1rem;
  --font-h2-size: 1rem;
  --font-h3-size: 1rem;
  --color-headline-bg: #d82525;
  --color-headline-text-page: #000000;

  /* Tekst */
  --color-text: #000000;
  --color-text-inverted: #000000;

  /*  Marginer */
  --margin-head-bottom: 5px;

  /* Borders */
  --border-radius: 5px;

  /* Cards */
  --color-card-bg: #ffffff;
  --color-cta-card-bg: #d5d2d0;
  /* news-cards */
  --color-news-bg: #dbdad4;
  --color-news-bg-inverted: #ffffff;
  --color-cta-newscard-bg: #ffffff;
  --color-cta-newscard-bg-inverted: #ffffff;

  /* Fonts */
  --font-family-sans: ui-sans-serif;
  /* --font-weight-light: 300;
  --font-weight-regular: 400;
  --font-weight-medium: 500;
  --font-weight-bold: 700; */

  /* Text sizes */
  --logotype-size: 1rem;
  --headline1-size: 2rem;
  --headline2-size: 1rem;
  --headline3-size: 1rem;
  --bodytext-size: 1rem;
  --cta-text-size: 1rem;
  --followup-text-size: 1rem;
  --form-submit-size: 1rem;

  /* Infographics */
  --color-info-bg: #ffffff;
  --color-infobox-1-bg: #de1e1e;
  --color-infobox-2-bg: #ffcfcf;
}
