#webform {
  background-color: var(--form-background-color);
}

#form-section,
#form-summary {
  background-color: var(--info-background-color);
  padding: 0;
}
#form-summary h2 {
  line-height: 3rem;
  text-align: center;
  background-color: var(--headline-bg-color-inverted);
  color: var(--headline-color-inverted);
  padding-top: 5px;
}
#form-summary h3 {
  font-size: 0.8rem;
  line-height: 0.8rem;
  font-weight: 600;
  margin: 0;
  padding: 0;
}
#form-summary > *:not(:first-child) {
  margin: 0 clamp(1rem, 10%, 7rem);
}
#form-summary p {
  font-size: 0.8rem;
  line-height: 1.3;
  margin: 0 0 1.2rem 0;
  padding: 0;
}

label {
  display: block;
  padding-top: 20px;
}

button,
input,
select,
textarea {
  font-family: inherit;
  font-size: inherit;
}

div {
  display: inline;
}

body {
  background-color: rgb(249, 208, 210);
  padding: 40px;
}

.form_1 {
  background-color: #ffffff;
  color: #000000;
  padding: 0.8rem;
  border: 10px solid rgb(252, 252, 252);
  border-radius: 40px;
  padding-bottom: 20px;
}

.du_gjorde {
  padding: 40px;
}

fieldset {
  background-color: red;
}
